<section class="page-hero py-16 bg-gray-100">
  <div class="container mx-auto mt-4 flex w-[50%]">
    <div class="w-full max-w-md mx-auto p-8 rounded-lg bg-white shadow-lg">
      <h1 class="text-3xl font-bold mb-6 text-center text-blue-600">Profile</h1>
      
      {{#if success}}
        <div class="bg-green-100 border-l-4 border-green-500 text-green-700 p-4 mb-4">
          <p>{{success}}</p>
        </div>
      {{/if}}
      
      <form action="/users/profile" method="POST">
        <div class="mb-4">
          <label for="email" class="block text-gray-700 text-sm font-bold mb-2">Email:</label>
          <input disabled type="email" id="email" name="email" value="{{user.email}}" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent" required>
        </div>
        <div class="mb-4">
          <label for="name" class="block text-gray-700 text-sm font-bold mb-2">Name:</label>
          <input type="text" id="name" name="name" value="{{user.username}}" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent" required>
        </div>
        <div class="mb-4">
          <label for="address" class="block text-gray-700 text-sm font-bold mb-2">Address:</label>
          <input type="text" id="address" name="address" value="{{contact.address}}" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent" required>
        </div>
        <div class="mb-4">
          <label for="phone" class="block text-gray-700 text-sm font-bold mb-2">Phone Number:</label>
          <input type="text" id="phone" name="phone" value="{{contact.phone}}" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent" required>
        </div>
        <div class="mt-4 flex items-center justify-center">
          <button type="submit" class="flex items-center justify-between btn btn-primary bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
            Update Profile
          </button>
        </div>
      </form>
    </div>
  </div>
</section>