<!-- floating assets -->
<img class="floating-bubble-1 absolute right-0 top-0 -z-[1]" src="/images/floating-bubble-1.svg" alt="" />
<img class="floating-bubble-2 absolute left-0 top-[387px] -z-[1]" src="/images/floating-bubble-2.svg" alt="" />
<img class="floating-bubble-3 absolute right-0 top-[605px] -z-[1]" src="/images/floating-bubble-3.svg" alt="" />
<!-- ./end floating assets -->

<!-- blog single -->
<section class="section blog-single">

    <body class="bg-slate-50">
        <!-- header from home page-->


        <!-- body -->
        <div class="flex flex-wrap lg:flex-nowrap flex-row m-8 justify-evenly gap-4 ">
            <div class="flex justify-evenly flex-wrap gap-4 ">
                <img class="sticky top-4 bg-white p-4 border-2" id="book-image" src="{{book.image}}" alt="{{book.title}}"/>

            <div class="" id=" order">
                <div class="bg-white rounded-xl pb-2">
                    <h1 class="text-3xl font-bold text-red-500 text-center py-2 mx-6 border-b">Mua ngay!</h1>


                    <div class="mb-4">
                        <p class="text-xl font-bold text-gray-700 my-2 mx-4">Số sách mua</p>
                        <div class="flex justify-center gap-4 text-lg font-bold">
                            <button class="px-3 border" id="decrease" disabled> - </button>
                            <input class="w-1/5 text-center border-0" type="number" id="quantity" value="1" min="1"
                                readonly>
                            <button class="px-3 border" id="increase">+ </button>
                        </div>
                    </div>

                    <div class="flex gap-2 text-2xl p-4 font-bold text-red-500">
                        <p class="">Tổng tiền:</p>
                        <span class="" id="total-price">0</span> đ
                    </div>

                    <div class="flex justify-center p-2">
                        <button class="border bg-red-500 text-white p-2 rounded-xl w-4/5" id="buy-now">
                            Mua ngay</button>
                    </div>

                    <div class="flex justify-center p-2">
                        <button class="border text-blue-500 p-2 rounded-xl w-4/5" id="add-cart">Thêm vào giỏ
                            hàng</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="w-full lg:w-full xl:1/2 " id="book-container">
            <!-- book info -->
            <div class="bg-white border-2 rounded-xl p-4">
                <h1 id="book-title" class="text-3xl pb-2 font-bold"> Sách: {{book.title}} </h1>
                <p id="book-price" class="text-2xl py-2 font-bold text-red-500">Giá: {{book.price}} đ</p>
                <div class="flex gap-10">
                    <p id="book-rating">Đánh giá: {{book.rating}}</p>
                    <p id="book-sold">Đã bán {{book.sold}} cuốn</p>
                </div>
            </div>

            <!-- delivery -->
            <div class="bg-white border-2 my-4 rounded-xl p-4 pb-2">
                <p class="font-bold text-black">Thông tin vận chuyển</p>

                <div class="flex justify-between border-b-2 ">
                    {{#if contact}}
                        <p id="book-delivery">Giao đến <b class="text-red-500">{{contact.address}}</b></p>
                    {{else}}
                        <p id="book-delivery"><b class="text-red-500">Đăng nhập để chọn địa chỉ của bạn</b></p>
                    {{/if}}
                    <a href="/users/profile">
                        <button class="p-1 font-bold text-blue-500" id="change-des">Đổi ngay</button>
                    </a>
                </div>

                <div class="py-2 border-b-2">
                    <div class="flex items-center flex-row gap-2">
                        <img src="/book-data/images/icon/icon-now.png" id="now-icon" alt="">
                        <p id="book-delivery-time">Giao siêu tốc trong 2 giờ</p>
                    </div>
                    <div class="flex flex-wrap md:flex-nowrap md:gap-4 gap-4">
                        <div class="flex">
                            <p class="mr-1">Trước 15h00 hôm nay:
                            <p class="text-green-500 font-medium sm:mr-4">35.000đ</p>
                            </p>
                        </div>
                        <div class="flex">
                            <p class="mr-1">Sau 15h00 hôm nay:
                            <p class="text-green-600 font-medium">55.000đ</p>
                            </p>
                        </div>



                    </div>
                </div>

                <div class="py-2 border-b-2">
                    <div class="flex items-center flex-row gap-2">
                        <img src="/book-data/images/icon/icon-tomorrow.png" id="tomorrow-icon" alt="">
                        <p id="book-delivery-time">Giao đúng sáng mai</p>
                    </div>
                    <div class="flex gap-4">
                        <p class="">8h - 12h, 30/10:</p>
                        <p class="text-green-500 font-medium">Miễn phí</p>
                    </div>
                </div>

                <div class="py-2 ">
                    <div class="flex items-center flex-row gap-2">
                        <img src="/book-data/images/icon/icon-freeship.png" id="freeship-icon" alt="">
                        <p id="book-delivery-time">Giảm giá vận chuyển 10k cho đơn từ 45k, 25k cho đơn từ 100k</p>
                    </div>
                </div>

            </div>

            <!-- assurance in buy -->
            <div class="bg-white border-2 my-4 rounded-xl p-4">
                <p class="font-bold text-black">An tâm mua sắm</p>

                <div class="py-2 border-b-2">
                    <div class="flex items-center flex-row gap-2">
                        <img src="/book-data/images/icon/icon-order.png" id="order-icon" alt="">
                        <p>Được đồng kiểm khi nhận hàng</p>
                    </div>
                </div>
                <div class="pt-3">
                    <div class="flex items-center flex-row gap-2">
                        <img src="/book-data/images/icon/icon-order.png" id="order-icon" alt="">
                        <p>Được hoàn
                        <p class="font-bold text-red-500">200%</p>nếu là hàng giả </p>
                    </div>
                </div>
            </div>


            <!-- detail information -->
            <div class="bg-white border-2 my-4 rounded-xl p-4">
                <p class="font-bold text-black">Thông tin chi tiết</p>
                <ul>
                    <li>Phiên bản sách: Phiên bản thường</li>
                    <li id="book-author">Tác giả: {{book.author}}</li>
                    <li id="book-company">Nhà xuất bản: {{book.company}}</li>
                    <li id="book-size">Kích thước: {{book.size}}</li>
                    <li id="book-pages">Số trang: {{book.pages}}</li>

                    <li class="pt-2 font-bold text-black">Mô tả ngắn gọn sách: </li>
                    <li id="book-description">{{book.description}}</li>

                </ul>
            </div>

        <!-- related products -->
        <div class="bg-white border-2 my-4 rounded-xl p-4 w-full pb-5" id="related-books">
            <p class="font-bold text-black">Sản phẩm liên quan cùng thể loại</p>
            <div class="flex overflow-x-auto gap-4 scroll-container">
                {{#each relatedBooks}}
                <div class="flex-shrink-0 snap-center">
                    <a href="/list/{{this.title_id}}">
                        <div class="card">
                            <img class="max-h-[150px] min-w-[150px] w-full object-cover rounded-md card-sub-img" src="{{this.image}}" alt="{{this.title}}" />
                            <div class="card-content mt-2">
                                <h3 class="text-lg font-medium wrap related-title">
                                    <a class="wrap" href="/list/{{this.title_id}}">
                                        {{this.title}}
                                    </a>
                                </h3>
                                <b class="text-red-500 block">Prices: {{this.price}} VND</b>
                            </div>
                        </div>
                    </a>
                </div>
                {{/each}}
            </div>
        </div>

        <!-- reviews section -->
        <input type="hidden" id="book-id" value="{{book.id}}">
        <input type="hidden" id="user-id" value="">
        <div class="bg-white border-2 my-4 rounded-xl p-4" id="reviews-section">
            <p class="font-bold text-black">Đánh giá sản phẩm</p>
            <div class="add-review" style="display: none;">
                <h3>Thêm đánh giá</h3>
                <textarea class="w-full mt-2 p-2 border rounded" id="review-comment" placeholder="Viết đánh giá của bạn..."></textarea>
                <div class="star-rating flex gap-1 mt-2">
                    <input type="radio" id="star-5" name="rating" value="5" />
                    <label for="star-5">&#9733;</label>

                    <input type="radio" id="star-4" name="rating" value="4" />
                    <label for="star-4">&#9733;</label>

                    <input type="radio" id="star-3" name="rating" value="3" />
                    <label for="star-3">&#9733;</label>

                    <input type="radio" id="star-2" name="rating" value="2" />
                    <label for="star-2">&#9733;</label>

                    <input type="radio" id="star-1" name="rating" value="1" />
                    <label for="star-1">&#9733;</label>
                </div>
                <button class="border bg-red-500 text-white p-2 rounded-xl w-full mt-2" id="submit-review">Gửi đánh giá</button>
            </div>
            <p class="text-red-500" id="login-prompt" style="display: none;">Bạn cần <a href="/login" class="text-blue-500">đăng nhập</a> để thêm đánh giá.</p>
            <p class="font-bold text-black mt-6">Average Rating: <span id="average-rating">{{book.averageRating}}</span></p>
            <div id="reviews-container" class="mt-4 space-y-4">
                {{#each reviews}}
                <div class="review p-4 border rounded-lg shadow-md bg-white">
                    <div class="flex items-center mb-2">
                        <div class="font-bold text-blue-600">{{this.User.username}}</div>
                        <div class="ml-2 text-sm text-gray-500">Rating: {{this.rating}}</div>
                    </div>
                    <p class="text-gray-700">{{this.comment}}</p>
                </div>
                {{/each}}
            </div>
            <div id="pagination-controls" class="flex justify-between mt-4">
                <button id="prev-page" class="p-2 border rounded" disabled>Previous</button>
                <div class="flex items-center">
                    <span id="current-page">1</span>/<span id="total-pages">{{totalPages}}</span>
                </div>
                <button id="next-page" class="p-2 border rounded">Next</button>
            </div>
        </div>
        <script src="/scripts/single.js"></script>
        <script src="/scripts/fetchUserId.js"></script>
    </body>
</section>

<!-- ./end blog-single -->